<div class="documentation-container">
  <nav class="table-content">
    <ul>
        <li><button>General Info</button></li>
        <li><button>Content 2</button></li>
        <li><button>Content 3</button></li>
      </ul>
  </nav>
  <div class="content">
    <h2>General information</h2>
    <p>
      This API is a non-commercial project developed as part of a college
      assignment. Its primary purpose is to serve as a practical implementation
      for learning and showcasing concepts related to API design, development,
      and documentation. The API is designed exclusively for academic use,
      aiming to demonstrate functionality and best practices in building RESTful
      services.<br>This project does not involve any commercial intent or
      real-world application beyond the educational scope. Its features and
      endpoints are tailored to meet the requirements of the assignment and to
      provide a hands-on experience in working with modern web development
      technologies.
    </p>
    <hr class="divider">
    <h2>ENDPOINTS</h2>
    <div class="endpoint">
        <ol>
            <li class="endpoint">
                <h3>Image Endpoints</h3>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p class="method"><strong class="get">GET </strong>: /img</p>
                        </mat-expansion-panel-header>
                        <mat-panel-description>
                            <p>DESCRIPTION HERE</p>
                            <img src="carbon.svg" alt="code">
                        </mat-panel-description>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p class="method"><strong class="post">POST </strong>: </p>
                        </mat-expansion-panel-header>
                        <mat-panel-description>
                            <p>DESCRIPTION HERE</p>
                            <img src="img-get.png" alt="code">
                        </mat-panel-description>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="endpoint">
                <h3>Image Endpoints</h3>
                <mat-accordion>
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <p class="method"><strong class="get">GET </strong>: /img</p>
                        </mat-expansion-panel-header>
                        <mat-panel-description class="description">
                            <p>DESCRIPTION HERE</p>
                            <img src="carbon.svg" alt="code">
                        </mat-panel-description>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p class="method"><strong class="post">POST </strong>: </p>
                        </mat-expansion-panel-header>
                        <mat-panel-description >
                            <p>DESCRIPTION HERE</p>
                            <img src="img-get.png" alt="code">
                        </mat-panel-description>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="endpoint">
                <h3>Image Endpoints</h3>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p class="method"><strong class="get">GET </strong>: /img</p>
                        </mat-expansion-panel-header>
                        <mat-panel-description>
                            <p>DESCRIPTION HERE</p>
                            <img src="carbon.svg" alt="code">
                        </mat-panel-description>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p class="method"><strong class="post">POST </strong>: </p>
                        </mat-expansion-panel-header>
                        <mat-panel-description>
                            <p>DESCRIPTION HERE</p>
                            <img src="img-get.png" alt="code">
                        </mat-panel-description>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
        </ol>
    </div>


    <hr class="divider">
  </div>
</div>
